body {
    margin: 0;
    padding: 32px;
    font-family: 'Ubuntu', serif;
}
/* Login */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 40px 40px 40px;
    background: rgba(35,87,137, 0.98);
    color: #fff;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,0.7);
    border-radius:10px;


}

.form::before { content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0, 0.10);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
}

.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 32px;
    color: #f5f5f5;
}

.form .input-group {
    position: relative;
}
.form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
}
.form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .3s ease-out;
}
.form .input-group input:focus +  label,.form .input-group input:valid + label {
    transform: translateY(-18px);
    color: #ff5a5f;
    font-size: 12px;
}
.submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}
.forgot-pw {
    color: inherit;
}

#forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.6s;
}
#forgot-pw:target {
    height: 100%;
    opacity: 1;
}
.close {
    position: absolute;
    right: 24px;
    top: 8px;
    font-size: 32px;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
}
/* Login link/button */
.trigger{
    cursor: pointer;
}
/*eind Login Screen*/
/*Standaard css voor header,links,center,rechts en footer*/
.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    flex: 1 100%;
}

.header {
    background: #f5f5f5;
}

.footer {
    background: #f5f5f5;
    text-align: center;
}

.main {
    background: #3c3c3c;
    text-align: center;
    color: #ff5a5f;
}

.aside-1 {
    background: #235789;
    text-align: center;
    color: #f5f5f5;
}

.aside-2 {
    background: #235789;
    text-align: center;
    color: #f5f5f5;
}

.center{
    text-align: center;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}
/*eind standaard*/
/*logo*/
.toplogo{
    margin-top: -30px;
    margin-left: 25px;
}
/*Eind logo*/
/*navbar*/
.navbar {
    overflow: hidden;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    height: 150px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: #3c3c3c;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: #3c3c3c;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Ubuntu', serif;;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: #ff5a5f;
 }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*eind navbar*/
/*content in main/footer/sides altijd dezelfde hoogte/breedte*/
.content-include_center{
    width: auto;
    height: 500px;
    margin: 25px 25px 25px 25px;
}

.content-include_footer{
    width: auto;
    height: 80px;
    margin: 25px 25px 25px 25px;
}

.content-include_sides{
    width: 250px;
    height: auto;
    margin: 25px 25px 25px 25px;
}
/*eind content in main altijd dezelfde hoogte*/
/*Chat omgeving */
#msg {
    width: 330px;
    height: 410px;
    border: 3px solid silver;
    position: fixed;
    bottom: 1px;
    border-radius: 12px 12px 0px 0px;
    display:none;
    background-color:#efefef;
    z-index: 99;
}
#header {
    width: 100%;
    height: 50px;
    border: 1px solid silver;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
    z-index:2;
    background-color:white;
}
#header img {
    width: 40px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 10px;
}
#header .online {
    width: 10px;
    height: 10px;
    background-color: orange;
    border-radius: 7px;
    position: absolute;
    left: 40px;
    top: 32px;
    border: 2px solid white;
}
#header p {
    position: relative;
    left: 70px;
    bottom: 42px;
    font-weight: bold;
}
#text {
    width: 100%;
    height: 50px;
    border: 1px solid silver;
    position: absolute;
    bottom: 0px;
}
#text input {
    height: 93%;
    width: 235px;
    position: relative;
    border: none;
    font-size: 17px;
    padding-left: 55px;
    padding-right: 39px;
}
#text .emoji {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 3;
}
#text .sent {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
}
#hide {
    width:330px;
    height:50px;
    border:3px solid #235789;
    border-top: 1px solid #3c3c3c;
    border-radius:12px 12px 0px 0px;
    position:fixed;
    bottom:1px;
    cursor:pointer;
    background-color: #f5f5f5;
    z-index: 99;
}
#hide img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 10px;
}
#hide .online {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 7px;
    position: absolute;
    left: 40px;
    top: 32px;
    border: 2px solid #f5f5f5;
}
#hide p {
    position: absolute;
    left: 70px;
    font-weight: bold;
    color: #3c3c3c;
}
#msg-sec {
    border:1px solid #f5f5f5;
    width:100%;
    height:305px;
    clear:both;
    overflow:auto;
}
#msg-sec p {
    display:block;
    clear:both;
    padding:5px 10px;
    box-shadow:1px 1px 2px #3c3c3c;
    word-wrap:break-word;
    max-width:260px;
}
#msg-sec p:nth-child(odd) {
    position:relative;
    float:right;
    background-color:#3c3c3c;
    color:white;
    border-radius:20px 0px 20px 20px;
    margin-right:5px;
}
#msg-sec p:nth-child(even) {
    position:relative;
    float:left;
    background-color:white;
    color:#3c3c3c;
    border-radius:0px 20px 20px 20px;
    margin-left:5px;
}
/* Eind Chat omgeving */
/* Inloggen scherm met een modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 16px 24px;
    width: 384px;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.close-button{
    visibility: hidden;
}